body {
  background-image: linear-gradient(79deg, #bfeede, #bfeede, #bfeede);
  text-align: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: #6ad4c2;
  border: solid #d3f2f7 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

label {
  text-align: left;
  padding: 0.25 rem 0;
}

input {
  align-items: center;
  margin: 0.5 rem 0;
  padding: 1rem;
  border: none;
  border: solid #c3c6ca 1px;
  border-radius: 10px;
}

.link-login {
  padding: 20px;
  color: white;
  background-color: rgb(232, 134, 112);
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

input:hover {
  background-color: #f4f4f4;
}

.logo-img {
  width: 350px; 
  margin: 0 auto;
  display: block;
  margin-bottom: 5px; 
}