/* General container */
.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px; /* Espacio para el header fijo */
}

/* Header styles */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-logo {
  height: 50px;
}

/* Barra de progreso */
.progress-container {
  margin: 40px 0; /* Aumenta el margen superior para bajar la barra */
  text-align: center;
}


.progress-bar-container {
  width: 100%;
  height: 12px; /* Altura ajustada de la barra */
  background-color: #e0e0e0; /* Fondo de la barra */
  border-radius: 50px; /* Bordes redondeados */
  overflow: hidden;
  margin-top: 20px; /* Espacio desde la parte superior */
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #8e2de2, #4a00e0); /* Degradado */
  transition: width 0.3s ease; /* Animación suave */
  border-radius: 50px; /* Bordes redondeados */
}

.progress-text {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

/* Main content */
.main-content {
  padding: 10px; /* Espacio ajustado para no quedar debajo del header */
}

.title {
  font-size: 36px;
  color: #1a2b4b;
  margin-bottom: 40px;
  font-weight: 600;
  text-align: left;
}

.label {
  display: block;
  margin: px 0;
  text-align: left;
  font-size: 20px;
  margin-top: 30%;
}

/* Campo de entrada */
.input  {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: #8833ff;
}
.required-message {
  display: block;
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 8px;
}
/* Botón */
.button {
  width: 100%;
  height: 48px;
  margin-top: 24px;
  background-color: #f0f0f0;
  color: #666;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}


.button:hover {
  background-color: #a3a39f;
}

.backButton:hover {
  background-color: #5a6268;
}
