body {
    background-image: linear-gradient(79deg, #bfeede, #bfeede, #bfeede);
    text-align: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    margin: 0;
}
  
  .register-form {
    background-color: #6ad4c2;
    border: solid #c3c6ca 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 400px;
    height: auto;
    margin: 0;
  }
  
  label {
    padding: 2px;
    text-align: left;
    padding: 0.25 rem 0;
  }
  
  input, select {
    align-items: center;
    margin: 0.25rem 0;
    padding: 0.5rem;
    border: solid #c3c6ca 1px;
    border-radius: 10px;
  }

  input:hover, select:hover {
    background-color: #f4f4f4;
  }

  .link-registrar {
    padding: 12px;
    color: white;
    background-color: rgb(232, 134, 112);
    text-decoration: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
  }

  .logo-img {
    width: 350px; 
    margin-bottom: 10px;
    display: block;
}
