/* General container */
.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

/* Header styles */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-logo {
  height: 50px;
}

.header-title {
  font-size: 20px;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

/* Main content */
.main-content {
  padding: 80px 20px 20px; /* Espacio superior para que no quede debajo del header */
}

.title {
  font-size: 24px;
  margin: 20px 0;
}

.label {
  display: block;
  margin: 10px 0;
  text-align: left;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 10px 20px;
  margin: 10px 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.backButton {
  background-color: #6c757d;
}

.button:hover {
  background-color: #0056b3;
}

.backButton:hover {
  background-color: #5a6268;
}
