/* General container */
.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px; /* Espacio para el header fijo */
  height: 100vh;
  box-sizing: border-box;
}

/* Header styles */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #688fb8;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-logo {
  height: 50px;
}

/* Barra de progreso */
.progress-container {
  margin: 40px 0; /* Aumenta el margen superior para bajar la barra */
  text-align: center;
}

.progress-bar-container {
  width: 100%;
  height: 12px; /* Altura ajustada de la barra */
  background-color: #e0e0e0; /* Fondo de la barra */
  border-radius: 50px; /* Bordes redondeados */
  overflow: hidden;
  margin-top: 20px; /* Espacio desde la parte superior */
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #8e2de2, #4a00e0); /* Degradado */
  transition: width 0.3s ease; /* Animación suave */
  border-radius: 50px; /* Bordes redondeados */
}

.progress-text {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

/* Main content */
.main-content {
  padding: 10px; /* Espacio ajustado para no quedar debajo del header */
}

.title {
  font-size: 36px;
  color: #1a2b4b;
  margin-bottom: 40px;
  font-weight: 600;
  text-align: left;
}

.label {
  display: block;
  margin: 10px 0; /* Añadí una medida aquí */
  text-align: left;
  font-size: 20px;
  margin-top: 14%;
}

/* Campo de entrada */
.input {
  height: 48px;
  padding: 0 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 5%;
  width: 100%; /* Cambié para ser más flexible */
  max-width: 500px; /* Limité el ancho máximo */
}

.input:focus {
  outline: none;
  border-color: #8833ff;
}

/* Botón */
.button {
  height: 48px;
  margin-top: 24px;
  background-color: #f0f0f0;
  color: #666;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%; /* Cambié para ser más flexible */
  max-width: 500px; /* Limité el ancho máximo */
}

.button:hover {
  background-color: #a3a39f;
}

.backButton:hover {
  background-color: #5a6268;
}

/* Registrar.css */
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    padding-top: 80px; /* Reducir espacio para pantallas más pequeñas */
  }

  .title {
    font-size: 28px; /* Reducir el tamaño del título */
    margin-bottom: 20px;
  }

  .label {
    font-size: 18px; /* Reducir tamaño de la fuente */
    margin-top: 10%;
  }

  .input {
    max-width: 100%; /* Eliminar límite de ancho para pantallas pequeñas */
    margin-top: 3%;
  }

  .button {
    max-width: 100%; /* Eliminar límite de ancho para pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column; /* Cambiar a columna en pantallas más pequeñas */
    align-items: center;
    padding: 10px;
  }

  .header-logo {
    height: 40px;
  }

  .title {
    font-size: 24px; /* Reducir el tamaño del título aún más */
    margin-bottom: 15px;
  }

  .label {
    font-size: 16px; /* Reducir aún más el tamaño de la fuente */
    margin-top: 8%;
  }

  .input {
    max-width: 100%; /* Eliminar límite de ancho */
  }

  .button {
    max-width: 100%; /* Eliminar límite de ancho */
  }
}
